.header_foto {
    background-image: url('../img/headerprofile.png');
    background-size: cover;
    background-position: center;
}

.cropped-image {
    object-fit: cover;
    width: 300px;
    height: 200px;
    clip-path: inset(50px 0 0 0);
}